backend/.env
backend/.env.docker
backend/pdf-extraction.db
backend/uploads/
backend/.env.local
env
frontend/node_modules/
frontend/dist/  
frontend/.env
.env
.venv
.python-version
__pycache__/
qdrant_storage/
.DS_Store
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.ruff_cache/
uv.lock
uploads/
.DS_Store
